version: '3.8'

services:
  affine:
    image: ghcr.io/toeverything/affine:{{ affine_revision }}
    container_name: affine_server
    ports:
      - '{{ affine_port }}:3010'
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
      affine_migration:
        condition: service_completed_successfully
    volumes:
      - '{{ affine_upload_location }}:/root/.affine/storage'
      - '{{ affine_config_location }}:/root/.affine/config'
    environment:
      - REDIS_SERVER_HOST=redis
      - DATABASE_URL=postgresql://{{ affine_db_username }}:{{ affine_db_password }}@postgres:5432/{{ affine_db_database }}
      - AFFINE_INDEXER_ENABLED=false
    restart: unless-stopped

  affine_migration:
    image: ghcr.io/toeverything/affine:{{ affine_revision }}
    container_name: affine_migration_job
    volumes:
      - '{{ affine_upload_location }}:/root/.affine/storage'
      - '{{ affine_config_location }}:/root/.affine/config'
    command: ['sh', '-c', 'node ./scripts/self-host-predeploy.js']
    environment:
      - REDIS_SERVER_HOST=redis
      - DATABASE_URL=postgresql://{{ affine_db_username }}:{{ affine_db_password }}@postgres:5432/{{ affine_db_database }}
      - AFFINE_INDEXER_ENABLED=false
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  redis:
    image: redis
    container_name: affine_redis
    healthcheck:
      test: ['CMD', 'redis-cli', '--raw', 'incr', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  postgres:
    image: pgvector/pgvector:pg16
    container_name: affine_postgres
    volumes:
      - '{{ affine_db_data_location }}:/var/lib/postgresql/data'
    environment:
      POSTGRES_USER: {{ affine_db_username }}
      POSTGRES_PASSWORD: {{ affine_db_password }}
      POSTGRES_DB: {{ affine_db_database }}
      POSTGRES_INITDB_ARGS: '--data-checksums'
      POSTGRES_HOST_AUTH_METHOD: trust
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', '{{ affine_db_username }}', '-d', '{{ affine_db_database }}']
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped