http:
  routers:
    nextcloud-router:
      rule: "Host(`{{ nextcloud_subdomain }}.{{ domain_name }}`)"
      service: "nextcloud-service"
      entryPoints: ["websecure"]
      priority: 10

      tls:
        certResolver: cloudflare
        domains:
          - main: "{{ domain_name }}"
            sans:
              - "*.{{ domain_name }}"

  services:
    nextcloud-service:
      loadBalancer:
        serversTransport: "ignore-backend-cert"
        servers:
           - url: "https://{{ nextcloud_internal_ip }}"

  serversTransports:
    ignore-backend-cert:
      insecureSkipVerify: true
