services:
  broker:
    image: docker.io/library/redis:8
    restart: unless-stopped
    volumes:
      - redisdata:/data
  db:
    image: docker.io/library/postgres:15
    restart: unless-stopped
    volumes:
      - dbdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: {{ PAPERLESS_DBPASS }}
  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:{{ paperless_version }}
    restart: unless-stopped
    depends_on:
      - db
      - broker
    ports:
      - "{{ paperless_port }}:8000"
    volumes:
      - {{ paperless_install_path }}/data:/usr/src/paperless/data
      - {{ paperless_install_path }}/media:/usr/src/paperless/media
      - {{ paperless_install_path }}/export:/usr/src/paperless/export
      - {{ paperless_install_path }}/consume:/usr/src/paperless/consume
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBENGINE: postgres
      PAPERLESS_DBHOST: db
      PAPERLESS_DBUSER: paperless
      PAPERLESS_DBPASS: {{ PAPERLESS_DBPASS }}
      PAPERLESS_DBPORT: 5432
      PAPERLESS_SECRET_KEY: {{ PAPERLESS_SECRET_KEY }}
      PAPERLESS_ADMIN_USER: {{ PAPERLESS_ADMIN_USER }}
      PAPERLESS_ADMIN_PASSWORD: {{ PAPERLESS_ADMIN_PASSWORD }}
volumes:
  data:
  media:
  dbdata:
  redisdata: